<mat-card>
  <mat-progress-bar mode="buffer" *ngIf="isLoading"></mat-progress-bar>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput name="email" ngModel type="email" placeholder="Masukan E-Mail" #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid"> Masukkan Email yang Benar </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="password" ngModel type="password" placeholder="Masukan Password" #passwordInput="ngModel" required>
      <mat-error *ngIf="passwordInput.invalid"> Masukkan Password yang Benar </mat-error>
    </mat-form-field>
    <button
      mat-raised-button color="accent"
      type="submit" *ngIf="!isLoading">Signup</button>
    <mat-progress-bar mode="buffer" *ngIf="isLoading"></mat-progress-bar>
  </form>
</mat-card>
