<mat-card>
  <mat-progress-bar mode="buffer" *ngIf="isLoading"></mat-progress-bar>
  <form [formGroup]="form" (submit)="onSavePath()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="title"
        placeholder="Masukan Judul"
      >
      <mat-error *ngIf="form.get('title').invalid"> Masukkan Judul </mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <mat-form-field>
      <textarea
        matInput
        rows="auto"
        formControlName="content"
        placeholder="Masukan Kontent">
      </textarea>
      <mat-error *ngIf="form.get('content').invalid"> Masukan Kontent </mat-error>
    </mat-form-field>
    <br>
    <button
      mat-raised-button color="accent"
      type="submit" > Simpan</button>
  </form>
</mat-card>
